/* imports */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*, a{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  scroll-behavior:smooth;
  font-family: 'Roboto', sans-serif;

}

body{
  color:#384160;
  /* padding:10px;   */
}
header{
  width:100vw;
  height:100vh;
}
.navbar{
  padding:10px;
  height:65px;
  /* height:auto; */
  overflow:hidden;
  background:linear-gradient(#394261,#1e2743);
  /* background:#232c49; */
  position:fixed;
  top:0;
  left:0;
  width:100vw;
}
.navbar .logo{
  font-size:35px;
  font-weight:bolder;
  color:white;
}
.menu{
  height:auto;
  border:1px solid #929292;
  border-radius:5px;
  width:90%;
  margin:auto;
  margin-bottom:15px;
  margin-top:15px;
  padding:10px;
  background:#384160;
  display:none;
}

.showMenu{
  display:block;
}
 .menu-bar{
  width:40px;
  height:40px;
  position:fixed;
  top:13px;
  right:14px;
  background:#384160;
}
.icon1{
  font-size:50px;
}
.menu a{
  display:block;
  padding:5px;
  color:#a2a2a2;
}
.menubar{
  width:20px;
  height:4px;
  background:#fff;
  margin-right:20px;
  position: fixed;
  top:30px;
  right:5px;
  float:right;
}
.menubar::before{
  content:'';
  width:20px;
  height:4px;
  background:#fff;
  position: absolute;
  top:-7px;
  transition: all 0.1s ease-out;
}
.menubar::after{
  content:'';
  width:20px;
  height:4px;
  background:#fff;
  position: absolute;
  top:7px;
}
.menu-btn{
  background:#fff;
  color:#111;
  padding:5px;
  width:65%;
  text-align:center;
  border-radius:20px;
  text-transform:uppercase;
}

.banner{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  height:100%;
  text-align:center;
  padding:200px 0;
}
.banner h1{
  font-size:150px;
  color:#384160;
}
.banner p{
  padding:25px 50px;
  font-size:5vw;
}
.banner .getStarted{
  border:1px solid #384160;
  border-radius:50px;
  width:60%;
  padding:10px;
  font-size:25px;
  text-transform:uppercase;
  font-weight:bold;
}
.banner > a{
  padding:10px 0;
  position:relative;
  color:#384160;
}
.banner >a::before{
  content:'';
  width:100%;
  border:0.2px solid #384160;
  position:absolute;
  bottom:4px;
}
.banner .arrow{
  padding:10px;

}

.banner .arrow a{
  color:#384160;
}

/* content */
section{
  text-align:center;
}

section > div{
  padding:70px 22px;
}
section > div:nth-child(even){
  background:#384160;
  color:#fff;
}
section > div:nth-child(odd){
  color:#384160;
  background:#fff;
}
section >div >h1{
  font-size:35px;
  font-weight:bolder;
  padding:20px 0;
}
section >div >h2{
  font-size:20px;
  font-weight:bold;
}
section div p{
  padding:10px;
}

section .diy-img{
  width:90vw;
}
section .phone-img{
  width:40vw;
}
section .number{
  border:20px solid #384160;
  width:200px;
  height:200px;
  border-radius:50%;
  font-size:120px;
  font-weight:bolder;
  display:flex;
  justify-content:center;
  align-items:center;
}
section div .box p{
  font-size:20px;
}
section div .b3 p{
  font-size:30px;
}
section div .box{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  margin:50px 0;
}


#comp-test{
  color:#384160;
  background:#fff;
  width:90vw;
  border:2px solid #384160;
  margin:0 auto;
  padding:20px;
}
#comp-test h1{
  font-size:20px;
  padding:5px;
}
#comp-test div{
  border:2px solid #384160;
  padding:10px;
  width:200px;
  border-radius:50px;
  margin:0 auto;
}

section .price{
  margin:10px;
  padding:20px 0;
}
.price .cost{
  border:1px solid #d1d1d1;
  width:90%;
  margin:0 auto;
  padding:10px;
  margin-bottom:15px;
  margin-top:15px;
}
.price .price-btn{
  border:2px solid #384160;
  border-radius:65px;
  width:60%;
  margin:0 auto;
  padding:15px;
  font-weight:bold;
  font-size:15px;
}
section .sign-up{
  margin:0;
  padding:10px;
  padding-bottom:30px;
}
section .sign-up >h1{
  font-size:100px;
  margin:0;
  padding:0;
}
section .sign-up p{
  padding:10px 90px;
}
section .sign-up div{
  background:#fff;
  color:#384160;
  width:50%;
  border-radius:45px;
  margin:0 auto;
  padding:10px;
}
footer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:10px;
  font-size:15px;

}
footer > div{
  padding:10px;
}
footer .links a,footer .social a{
  padding:5px;
  color:darkgreen;
}
footer .creator a{
  color:darkgreen;
}
.icon{
  font-size:50px;
  color:#5aada5;
  padding:15px 5px;
}
